# Пример файла окружения для настройки параметров приложения.
# Скопируйте этот файл в .env и измените значения при необходимости.


# === Режим отладки ===
DEBUG=true|false

# === Настройки логирования ===
LOG_DIR=logs
LOG_FILENAME=logs.log

# === Настройки векторной БД ===
VECTOR_DB=chroma|qdrant
VECTOR_DB_HOST=locallhost
VECTOR_DB_PORT=8000
VECTOR_DB_DIR=data
COLLECTION_NAME=docs
ID_LENGTH=12

# === Настройки RAG ===
EMBEDDING_MODEL=all-MiniLM-L6-v2
