# Пример файла окружения для настройки параметров приложения.
# Скопируйте этот файл в .env и измените значения при необходимости.


# === Режим отладки ===
DEBUG=true|false

# === Настройки логирования ===
LOG_DIR=logs
LOG_FILENAME=logs.log

VECTOR_DB=chroma|qdrant
VECTOR_DB_HOST=locallhost
VECTOR_DB_PORT=8000
